<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styleBank.css">
    <title>WELCOME TO THE BANK</title>
</head>
<body id="body">
    <div class="BTitle">
        <h1>Welcome To The Bank</h1>
    </div>
    <h2 id="chips">Casino Chips: </h2>
    <h2 id="bAccount">Bank Account: </h2>
    <input id="amountD" type="number">
    <input id="amountW" type="number">
    <div id="btnDeposit">
        <p>Deposit</p>
    </div>
    <div id="btnWithdraw">
        <p>Withdraw</p>
    </div>
    <div id="btnBack">
        <a href="Menu.html"> Back</a>
    </div>
    
</body>
</html>