<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylePoker.css" />
    <script src="../poker.js" defer></script>
    <title>5-Card Poker</title>
</head>
<body>

    <img src="../Assets/OverallUI/PokerIcon.png" alt="PokerIcon Title" width="500" height="250">

    <div class="btnBack">
        <a href="Menu.html">Exit Game</a>
    </div>

    <div class="plyDeck">
        <div class="cardOne">
            <div id="cardNum1"></div>
            <div id="cardSyb1"></div>
        </div>

        <div class="cardTwo">
            <div class="cardTwo">
                <div id="cardNum2"></div>
                <div id="cardSyb2"></div>
            </div>
        </div>

        <div class="cardThree">
            third Card
        </div>

        <div class="cardFour">
            fourth Card
        </div>

        <div class="cardFive">
            fifth Card
        </div>
    </div>

    <button onclick="getCards()">Start</button>

</body>
</html>