<html style="background-color: rgb(66, 142, 117);">
<head>
    <title>Casino Sim</title>
    <link rel="stylesheet" href="../Styles/style.css"/>

</head>

<body>
    <h1 class="txt1">Choose your game:</h1>
<br>
<br>
    <a href="craps.html"><img src="../Assets/OverallUI/CrapsIcon.png" style="height: 150px; width: 200px;"></a>

    <a href="fiveCard.html"><img src="../Assets/OverallUI/PokerIcon.png" style="height: 150px; width: 200px;"></a>

    <a href="roulette.html"><img src="../Assets/OverallUI/RouletteIcon.png" style="height: 150px; width: 200px;"></a>

    <a href="slot.html"><img src="../Assets/OverallUI/SlotMachineIcon.png" style="height: 150px; width: 200px;"></a>

    <a href="blackjack.html"><img src="../Assets/OverallUI/BlackjackIcon.png" style="height: 150px; width: 200px;"></a>

    <br>
    <br>
    <br>

    <h3 class="btnL">Back</h3>
    <a href="index.html"><img class="btnL" src="../Assets/OverallUI/ButtonUp.png" ></a>

    <h3 class="btnR">Bank</h3>
    <a href="bank.html"><img class="btnR" src="../Assets/OverallUI/ButtonUp.png" ></a>



</body>



</html>