#chips{
    float:left;
    margin-top: 5%;
    margin-left: 500px;
    width:10.3%;
    height:35px;
    font-size: larger;
}
#bAccount{
    float:right;
    margin-top: 5%;
    margin-right: 500px;
    width:10.3%;
    height:35px;
    font-size: larger;
}
#amountD{
    float:left;
    margin-top: 1%;
    margin-left: 500px;
    width:10.3%;
    height:35px;
    font-size: larger
}
#amountW{
    float:right;
    margin-top: 1%;
    margin-right: 500px;
    width:10.3%;
    height:35px;
    font-size: larger;
}
#btnDeposit{
    background-color: yellow;
    border: 2px black solid;
    border-radius: 2px;
    border-left: 2px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    float:left;
    margin-top: 1%;
    margin-left: 500px;
    width:10%;
    height:50px;
}
#btnWithdraw{
    background-color: yellow;
    border: 2px black solid;
    border-radius: 2px;
    border-right: 2px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    float:right;
    margin-top: 1%;
    margin-right: 500px;
    width:10%;
    height:50px;
}
#btnBack{
    text-decoration: none;
    border-radius: 2px;
    border: 2px black solid;
    color: black;
    background-color: yellow;
    cursor: pointer;
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}
#body{
    background: url('https://media.istockphoto.com/id/1079751628/photo/abstract-green-grunge-background.jpg?s=612x612&w=0&k=20&c=kUAiJg_PBogH3Ud00PNK8hCxQsX5j6bE6YT56pa92UM=') no-repeat center center fixed;
    background-size: cover;
}

.BTitle {
    text-align: center;
    color: white;
}