.info {
    background: rgb(0, 0, 0, 0.6);
    color: white;
    margin: 5%;
    padding: 10px
}

.title {
    color: white;
    text-align: center;
}

body {
    background: url('https://media.istockphoto.com/id/1079751628/photo/abstract-green-grunge-background.jpg?s=612x612&w=0&k=20&c=kUAiJg_PBogH3Ud00PNK8hCxQsX5j6bE6YT56pa92UM=') no-repeat center center fixed;
    background-size: cover;
}

.goBack {
    position: fixed;
    background-color: gold;
    border: 2px black solid;
    width: 100px;
    left: 0;
    bottom: 0;
    margin: 8px;
    padding: 5px;
    text-align: center;
}

.goBack:hover {
    cursor: pointer;
}

.goBack a {
    text-decoration: none;
}