.comingSoon {
    align-items: center;
    
}

.slots {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
}

.slots div {
    margin: 10px;
    padding: 5px;
    border: 2px black solid;
    float: left;
    
}


.btnBack {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: gold;
    border: 2px black solid;
    padding: 4px;
    margin: 5px;
    color: black;
}

.btnBack a {
    text-decoration: none;
}

.cherry {
    display: none;
}